In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('heart.csv')

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# Remove Duplicates

In [6]:
data_dup = data.duplicated().any()

In [7]:
data_dup

True

In [8]:
data =  data.drop_duplicates()

In [9]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [10]:
data.drop_duplicates()
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [11]:
data_dup = data.duplicated().any()
data_dup

False

# Preprocssing

In [12]:
cate_val = [] # Categories
cont_val = [] # Numerical

for column in data.columns:
    print(column , " => " , data[column].nunique())
    if data[column].nunique() <= 10:
        cate_val.append(column)
    else:
        cont_val.append(column)

age  =>  41
sex  =>  2
cp  =>  4
trestbps  =>  49
chol  =>  152
fbs  =>  2
restecg  =>  3
thalach  =>  91
exang  =>  2
oldpeak  =>  40
slope  =>  3
ca  =>  5
thal  =>  4
target  =>  2

In [13]:
cont_val

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [14]:
cate_val

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [15]:
data['cp'].unique()

array([0, 1, 2, 3], dtype=int64)

In [16]:
cate_val.remove('sex')
cate_val.remove('target')

In [17]:
data = pd.get_dummies(data,columns=cate_val,drop_first = True) #Encoding to binary

In [18]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,168,1.0,0,False,False,False,...,False,False,True,False,True,False,False,False,False,True
1,53,1,140,203,155,3.1,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,70,1,145,174,125,2.6,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,61,1,148,203,161,0.0,0,False,False,False,...,False,False,True,True,False,False,False,False,False,True
4,62,0,138,294,106,1.9,0,False,False,False,...,False,True,False,False,False,True,False,False,True,False

# Feature Scaling

In [19]:
# Applied to numerical values to make all in same range [-2, 2]
from sklearn.preprocessing import StandardScaler

In [20]:
st = StandardScaler()
data[cont_val] = st.fit_transform(data[cont_val])

In [21]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,-0.267966,1,-0.376556,-0.667728,0.806035,-0.037124,0,False,False,False,...,False,False,True,False,True,False,False,False,False,True
1,-0.157260,1,0.478910,-0.841918,0.237495,1.773958,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,1.724733,1,0.764066,-1.403197,-1.074521,1.342748,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,0.728383,1,0.935159,-0.841918,0.499898,-0.899544,0,False,False,False,...,False,False,True,True,False,False,False,False,False,True
4,0.839089,0,0.364848,0.919336,-1.905464,0.739054,0,False,False,False,...,False,True,False,False,False,True,False,False,True,False

# Split Dataset into Training and Testing

In [22]:
x = data.drop('target',axis=1)

In [23]:
y = data['target']
y

0      0
1      0
2      0
3      0
4      0
      ..
723    1
733    1
739    0
843    0
878    0
Name: target, Length: 302, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
y_train

163    0
291    0
280    1
85     1
239    0
      ..
267    0
77     0
125    1
522    1
119    1
Name: target, Length: 241, dtype: int64

In [27]:
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,-0.267966,1,-0.376556,-0.667728,0.806035,-0.037124,0,False,False,False,...,False,False,True,False,True,False,False,False,False,True
1,-0.157260,1,0.478910,-0.841918,0.237495,1.773958,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
2,1.724733,1,0.764066,-1.403197,-1.074521,1.342748,0,False,False,False,...,True,False,False,False,False,False,False,False,False,True
3,0.728383,1,0.935159,-0.841918,0.499898,-0.899544,0,False,False,False,...,False,False,True,True,False,False,False,False,False,True
4,0.839089,0,0.364848,0.919336,-1.905464,0.739054,0,False,False,False,...,False,True,False,False,False,True,False,False,True,False

# Train Using Support Vector Machine (SVM)

In [28]:
from sklearn import svm

In [29]:
svm = svm.SVC()

In [30]:
svm.fit(x_train, y_train)

SVC()

In [31]:
y_predict = svm.predict(x_test)

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
accuracy_score(y_test, y_predict)

0.8032786885245902

# K Nearset Neighbor (KNN)

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
mx_score = -1
k_val = 0
for k in range(1,40):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train, y_train)
    y_predict2 = knn.predict(x_test)
    accuracy = accuracy_score(y_test, y_predict2)
    print(accuracy)
    if(accuracy > mx_score):
        mx_score = accuracy
        k_val = k

0.7213114754098361
0.8032786885245902
0.7049180327868853
0.7049180327868853
0.7377049180327869
0.8032786885245902
0.7868852459016393
0.8032786885245902
0.7704918032786885
0.7540983606557377
0.7704918032786885
0.7540983606557377
0.7377049180327869
0.7377049180327869
0.7540983606557377
0.7704918032786885
0.7540983606557377
0.7540983606557377
0.7377049180327869
0.7540983606557377
0.7377049180327869
0.7213114754098361
0.7377049180327869
0.7377049180327869
0.7213114754098361
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869
0.7377049180327869

In [36]:
k_val

2

In [37]:
knn = KNeighborsClassifier(n_neighbors=k_val)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [38]:
y_predict2 = knn.predict(x_test)

In [39]:
accuracy_score(y_test, y_predict2)

0.8032786885245902

# Random Forest

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf = RandomForestClassifier()

In [42]:
rf.fit(x_train, y_train)

RandomForestClassifier()

In [43]:
y_predict3 = rf.predict(x_test)

In [44]:
accuracy_score(y_test, y_predict3)

0.7704918032786885

In [63]:
for i in range(1, 10):
    rf = RandomForestClassifier(n_estimators=i)
    rf.fit(x_train, y_train)
    y_predict3 = rf.predict(x_test)
    print(accuracy_score(y_test, y_predict3))

0.7213114754098361
0.6885245901639344
0.7213114754098361
0.7213114754098361
0.8032786885245902
0.7049180327868853
0.7540983606557377
0.7377049180327869
0.7213114754098361

# Conclusion

In [46]:
final_data = pd.DataFrame({'Models':['SVM', 'KNN', 'RF'],
                          'Accuracy': [accuracy_score(y_test, y_predict), accuracy_score(y_test, y_predict2), accuracy_score(y_test, y_predict3)]})

In [47]:
final_data

  Models  Accuracy
0    SVM  0.803279
1    KNN  0.803279
2     RF  0.721311

# Save Model

In [48]:
import joblib

In [53]:
joblib.dump(knn,'model_joblib_heart')

['model_joblib_heart']

# GUI

In [50]:
from tkinter import *
import joblib
import numpy as np
from sklearn import *

In [54]:
def show_entry_fields():
    p1=int(e1.get())
    p2=int(e2.get())
    p3=int(e3.get())
    p4=int(e4.get())
    p5=int(e5.get())
    p6=int(e6.get())
    p7=int(e7.get())
    p8=int(e8.get())
    p9=int(e9.get())
    p10=float(e10.get())
    p11=int(e11.get())
    p12=int(e12.get())
    p13=int(e13.get())
    model = joblib.load('model_joblib_heart')
    result=model.predict([[p1,p2,p3,p4,p5,p6,p7,p8,p8,p10,p11,p12,p13,0,0,0,0,0,0,0,0,0]])
    
    if result == 0:
        Label(master, text="No Heart Disease 👌").grid(row=31)
    else:
        Label(master, text="Possibility of Heart Disease😥").grid(row=31)

In [58]:
master = Tk()
master.title("Heart Disease Prediction System")


label = Label(master, text = "Heart Disease Prediction System"
                          , bg = "black", fg = "white"). \
                               grid(row=0,columnspan=2)


Label(master, text="Enter Your Age").grid(row=1)
Label(master, text="Male Or Female [1/0]").grid(row=2)
Label(master, text="Enter Value of CP").grid(row=3)
Label(master, text="Enter Value of trestbps").grid(row=4)
Label(master, text="Enter Value of chol").grid(row=5)
Label(master, text="Enter Value of fbs").grid(row=6)
Label(master, text="Enter Value of restecg").grid(row=7)
Label(master, text="Enter Value of thalach").grid(row=8)
Label(master, text="Enter Value of exang").grid(row=9)
Label(master, text="Enter Value of oldpeak").grid(row=10)
Label(master, text="Enter Value of slope").grid(row=11)
Label(master, text="Enter Value of ca").grid(row=12)
Label(master, text="Enter Value of thal").grid(row=13)



e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)
e12 = Entry(master)
e13 = Entry(master)

e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)
e4.grid(row=4, column=1)
e5.grid(row=5, column=1)
e6.grid(row=6, column=1)
e7.grid(row=7, column=1)
e8.grid(row=8, column=1)
e9.grid(row=9, column=1)
e10.grid(row=10, column=1)
e11.grid(row=11, column=1)
e12.grid(row=12, column=1)
e13.grid(row=13, column=1)



Button(master, text='Predict', command=show_entry_fields).grid()

mainloop()

c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

KeyboardInterrupt: